/* -- HEADER STYLE -- */
.title{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    color: white;
}

/* -- CANVAS STYLE -- */
#canvas{
    width: 100% !important;
    height: 500px;
}

/* -- FOOTER STYLE -- */
.footer{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    background-color: black;
    border-color: black;
}

#info-left{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 50%;
    text-align: left;
    z-index: 100;
    display: block;

    font-family: 'Julius Sans One', sans-serif;
    font-size: 8em;
    color: white;

}

#info-right{
    position: absolute;
    top: 50%;
    right: 10%;
    width: 50%;
    text-align: right;
    z-index: 100;
    display: block;

    font-family: 'Julius Sans One', sans-serif;
    font-size: 8em;
    color: white;

}

#description{

    position: absolute;
    top: 25%;
    left: 10%;
    width: 20%;
    text-align: justify;
    z-index: 100;
    display: block;

    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1em;
    color: white;

}